*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
}

body{
    display: flex;
    background:black ;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

#clock h2{
    color: ghostwhite;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 2.3em;
    margin: 10px 0;
    text-transform: 0.4em;
}

#clock #time{
    display: flex;
}


#clock #time div{
    -webkit-box-reflect: below 5px linear-gradient(transparent, #0004);
    position: relative;
    margin: 0 5px;
}

#clock #time div span {
    position: relative;
    display: block;
    color: floralwhite;
    width: 100px;
    height: 80px;
    font-weight: 300;
    background: lime;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    font-size: 3em;
}

#clock #time div span:nth-child(2) {
    height: 30px;
    font-size: 0.7em;
    text-transform: uppercase;
    background: darkslategray;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    letter-spacing: 0.2em;
}

#clock #time div:nth-last-child(2) span {
    background: steelblue;
    
}

#clock #time div:nth-last-child(2) span:nth-child(2) {
    background: darkslategray;
}

#clock #time div:nth-last-child(1) span {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 40px;
    font-size: 1.5em;
    background: darkslategray;
    color: white;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}

#main{
    position: absolute;
    bottom: 600px;
    left: 0;
}

#moon{
    width: 325px;
    height: 325px;
    background: linear-gradient(to right bottom,dimgray,gray,lightgray,white);
    border-radius: 50%;
    transition:all 1s;
    box-shadow: 0 0 85px ghostwhite;
    padding: 20px;
    margin: 30px;
    display: none;
    

}

#moon #mooncrater1{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(to right bottom,#7a7a7a,#797979,#7e7e7e);
    position: relative;
    top: 30px;
    left: 45px;
    box-shadow: 0 0 5px dimgray;
    
}

#moon #mooncrater2{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(to right bottom,#7b7b7b,#7c7c7c,#8a8a8a);
    position: relative;
    top: 65px;
    right:10px;
    box-shadow: 0 0 5px dimgray;
}

#moon #mooncrater3{
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(to right bottom,#7f7f7f,#919191,#9c9c9c);
    position: relative;
    top: 15px;
    left: 50px;
    box-shadow: 0 0 5px #7f7f7f;
    border: none;
}

#sun{
    width: 325px;
    height: 325px;
    background: linear-gradient(to left bottom,yellow,lightyellow);
    border-radius: 50%;
    transition:all 1s;
    box-shadow: 0 0 85px yellow;
    padding: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}
